* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form label {
  color: rgb(6, 3, 23);
  font-size: large;
  font-weight: bold;
  font-style: oblique;
  background-color: rgb(21, 172, 94);
}

body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 5em;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: #384858;
  padding: 20px;

  transition: width 0.75s ease;
  flex-shrink: 0;
  height: 100%;
  position: fixed;
}
h2 {
  height: 100px;

  display: flex;

  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sidebarList {
  padding: 0;
}
.sidebarList .ligne {
  height: 70px;
  border-bottom: 1px solid black;
  list-style-type: none;
  text-decoration: none;
  margin: 0%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.sidebarList .ligne:hover {
  cursor: pointer;
  background-color: rgb(60, 105, 173);
}
.ligne #icons {
  flex: 30%;
  display: grid;
  place-items: center;
}
.ligne #title {
  flex: 70%;
}
.content {
  display: flex;

  align-items: flex-start;
  padding: 20px;
}
